 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 947px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 901px;
  margin: 60px auto;
}

.u-section-1 .u-image-1 {
  min-height: 827px;
  background-image: url("images/glee_selfie.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 827px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 512px;
  min-height: 656px;
  background-image: none;
  margin: 0 auto 0 -61px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: none;
  margin: 20px 41px 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 10px auto 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 41px 20px 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-image-1 {
    min-height: 551px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-1 .u-group-1 {
    width: 490px;
    min-height: 379px;
    margin-top: 142px;
    margin-left: -99px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 499px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 859px;
  }

  .u-section-1 .u-group-1 {
    width: 401px;
    min-height: 705px;
    margin-top: 0;
    margin-left: -65px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 660px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-1 .u-group-1 {
    width: 550px;
    min-height: 554px;
    margin-top: -92px;
    margin-left: -10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-1 .u-image-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 757px;
  }

  .u-section-1 .u-group-1 {
    min-height: 842px;
    margin-top: -64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 22px 0 19px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
    margin-right: 170px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 50px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: 64px;
    margin-left: 54px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 696px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 420px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 15px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 31px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 2;
  margin: 10px 31px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 23px 31px 0;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 18px auto 0 31px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 15px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 31px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 2;
  margin: 10px 31px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 23px 31px 0;
}

.u-section-2 .u-line-2 {
  width: 100px;
  height: 3px;
  margin: 18px auto 0 31px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 15px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 31px;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 2;
  margin: 10px 31px 0;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 23px 31px 0;
}

.u-section-2 .u-line-3 {
  width: 100px;
  height: 3px;
  margin: 18px auto 0 31px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 31px;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 2;
  margin: 10px 31px 0;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 23px 31px 0;
}

.u-section-2 .u-line-4 {
  width: 100px;
  height: 3px;
  margin: 18px auto 0 31px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 15px;
}

.u-section-2 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 31px;
}

.u-section-2 .u-text-15 {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 2;
  margin: 10px 31px 0;
}

.u-section-2 .u-text-16 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 23px 31px 0;
}

.u-section-2 .u-line-5 {
  width: 100px;
  height: 3px;
  margin: 18px auto 0 31px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 346px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 596px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-line-1 {
    margin-left: 1px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 1px;
  }

  .u-section-2 .u-line-3 {
    margin-left: 1px;
  }

  .u-section-2 .u-line-4 {
    margin-left: 1px;
  }

  .u-section-2 .u-line-5 {
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 530px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 270px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-2 {
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-line-1 {
  width: 75px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-3 {
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-line-2 {
  width: 75px;
  height: 3px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-4 {
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-line-3 {
  width: 75px;
  height: 3px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-5 {
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-line-4 {
  width: 75px;
  height: 3px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-6 {
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-line-5 {
  width: 75px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-7 {
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-line-6 {
  width: 75px;
  height: 3px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-8 {
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-line-7 {
  width: 75px;
  height: 3px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-9 {
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-line-8 {
  width: 75px;
  height: 3px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-10 {
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-line-9 {
  width: 75px;
  height: 3px;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 223px;
  }

  .u-section-3 .u-line-1 {
    transform: rotate(360deg);
  }

  .u-section-3 .u-line-2 {
    transform: rotate(360deg);
  }

  .u-section-3 .u-line-3 {
    transform: rotate(360deg);
  }

  .u-section-3 .u-line-4 {
    transform: rotate(360deg);
  }

  .u-section-3 .u-line-5 {
    transform: rotate(360deg);
  }

  .u-section-3 .u-line-6 {
    transform: rotate(360deg);
  }

  .u-section-3 .u-line-7 {
    transform: rotate(360deg);
  }

  .u-section-3 .u-line-8 {
    transform: rotate(360deg);
  }

  .u-section-3 .u-line-9 {
    transform: rotate(360deg);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-2.u-text-2.u-text-2:hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-2.u-text-2.u-text-2.hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-3.u-text-3.u-text-3:hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-4,
.u-section-3 .u-text-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-4.u-text-4.u-text-4:hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-4.u-text-4.u-text-4.hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-5.u-text-5.u-text-5:hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-5.u-text-5.u-text-5.hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-6,
.u-section-3 .u-text-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-6.u-text-6.u-text-6:hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-6.u-text-6.u-text-6.hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-7,
.u-section-3 .u-text-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-7.u-text-7.u-text-7:hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-7.u-text-7.u-text-7.hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-8,
.u-section-3 .u-text-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-8.u-text-8.u-text-8:hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-8.u-text-8.u-text-8.hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-9,
.u-section-3 .u-text-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-9.u-text-9.u-text-9:hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-9.u-text-9.u-text-9.hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-10,
.u-section-3 .u-text-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-10.u-text-10.u-text-10:hover {
  font-weight: bold !important;
}

.u-section-3 .u-text-10.u-text-10.u-text-10.hover {
  font-weight: bold !important;
}