 .u-section-1 {
  background-image: none;
  min-height: 8077px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  line-height: 1;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin: 100px auto 0 calc(((100% - 1140px) / 2) + 80px);
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 25px auto 0 calc(((100% - 1140px) / 2) + 80px);
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 371px;
  margin: 39px auto 0 calc(((100% - 1140px) / 2) + 80px);
}

.u-section-1 .u-list-1 {
  width: 1000px;
  margin: 33px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 191px;
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 0 276px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  margin: 0 369px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 7532px;
  grid-gap: 17px 17px;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 20px 20px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(50,47,49,0.5), rgba(50,47,49,0.5));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 6756px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
    width: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 116px;
  }

  .u-section-1 .u-text-3 {
    width: 179px;
    margin-right: 216px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 309px;
    width: 179px;
  }

  .u-section-1 .u-gallery-1 {
    height: 6211px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 5393px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 132px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 132px;
  }

  .u-section-1 .u-list-1 {
    width: 556px;
    height: auto;
    min-height: 282px;
    margin-top: 28px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 282px;
    grid-template-columns: 100%;
    grid-gap: 0px 0px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 89px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 58px;
    height: 4757px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 4239px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 502px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 317px;
    grid-gap: 10px 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 3568px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2918px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 11px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 11px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2247px;
  }
} .u-section-2 {
  min-height: 698px;
}

.u-section-2 .u-gallery-1 {
  height: 850px;
  margin-top: 30px;
  margin-bottom: 0;
  width: calc(((100% - 1140px) / 2) + 1220px);
}

.u-section-2 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 685px;
  }

  .u-section-2 .u-gallery-1 {
    height: 700px;
    margin-top: 35px;
    width: calc(((100% - 940px) / 2) + 990px);
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 494px;
  }

  .u-section-2 .u-gallery-1 {
    height: 509px;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 367px;
  }

  .u-section-2 .u-gallery-1 {
    height: 382px;
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 226px;
  }

  .u-section-2 .u-gallery-1 {
    height: 241px;
    width: auto;
  }
}
